.button{
   border-radius: 50%;
   box-shadow: 2px 5px 14px rgba(66, 120, 59, 0.2);
   cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px 30px;
    min-height: 1000px;
}

.head{
    padding-top:50px;
    padding-bottom: 30px;
    font-size: 20px;
}

.listTovars td{
    border-top: 1px solid black;
    padding-top: 20px;
    min-width: 150px;
}

